# docker-compose for standard creating iris container without image built
# hma, 2023-07-06
services:
    iris:
        build: ./image-iris
        environment:
            - TZ=CST-8
            - NAME=iris
        container_name: testbed-iris
        ports:
            - 1980:1972 
            - 32773:52773
        command: 
            --check-caps false
            --log /usr/irissys/mgr/messages.log
        hostname: testbed-iris
        volumes:
            - ./image-iris/buildsource:/dur
    ui:
        build: ./UI
        container_name: agentic-ui
        ports:
            - 4200:80
        depends_on:
            - iris
    backend:
        build: ./py-app
        container_name: agentic-backend
        ports:
          - 8000:8000
        depends_on:
            - iris
        volumes:
            - ./py-app:/app
        environment:
            - PYTHONUNBUFFERED=1
            - IRIS_URL=http://iris:52773
        tty: false
        restart: "no"

    codex:
        build: ./codex-service
        container_name: agentic-codex
        ports:
            - 8001:8000
        environment:
            - PYTHONUNBUFFERED=1
        volumes:
            - ./py-app:/app/code

